CREATE TABLE public.perfiles ( id SERIAL PRIMARY KEY, nombre TEXT DEFAULT 'Mi Perfil', descripcion TEXT, gustos TEXT, foto_url TEXT ); INSERT INTO public.perfiles (id, nombre) VALUES (1, 'Usuario Lector');
